/* navigation bar styling */
#nav {
    width: 96%;
    height: var(--nav-height);
    /* background-color: var(--nav-darkblue); */
    background-color: #212529;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    opacity: 1;
    /* border-bottom: 1px solid blue; */
}

#icon {
    font-size: 1.5em;
    font-family: var(--nav-font);
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    margin-left: 20px;
    font-family: var(--nav-font);
    color: white;
}

.nav-button:hover {
    color: var(--UCLA-gold);
}

#nav-icon {
    width: 1em;
    margin: 5px;
}

/* footer style */
#footer {
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    font-size: 0.7em;
    color: grey;
    margin-top: 40px;
}